<style>
	#main{ background: url("/assets/backgroud-fita.png") repeat scroll 0 0 #222222;}
</style>
<div class="wrapper">
	<section id="introduction" class="page first">
		<%=slide_show_tag%>		
		<section id="quotes">
			<p style="display: block;">Chame facilmente um carro de luxo com chauffeur</p>
		</section>
	</section>
	<div class="divider"></div>
	<section id="in_detail" class="page" style='height:404px'>
		<h2>Como funciona</h2>
		<div class="page" style='background: url("/assets/part2-como-funciona.png") no-repeat scroll center 0  transparent; height:344px;'></div>
	</section>
	<div class="divider"></div>
	<section id="rates" class="page" style='height:456px;'>
		<h2>Preços</h2>
		<h3>São Paulo</h3>
		<div style='float:left'>
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=sao+paulo+centro&amp;aq=&amp;sll=-23.682803,-46.595546&amp;sspn=0.852675,1.674042&amp;ie=UTF8&amp;hq=sao+paulo+centro&amp;ll=-23.543828,-46.641545&amp;spn=0.020458,0.032015&amp;t=m&amp;output=embed"></iframe>
			<br/>
			<small><a target='_blank' style='color:#0000FF;text-align:left;color:#777777;' href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=sao+paulo+centro&amp;aq=&amp;sll=-23.682803,-46.595546&amp;sspn=0.852675,1.674042&amp;ie=UTF8&amp;hq=sao+paulo+centro&amp;ll=-23.543828,-46.641545&amp;spn=0.020458,0.032015&amp;t=m">Exibir mapa ampliado</a></small>
		</div>
		<div class="page">
			<ul>
				<li>
				<%= cidades_atendidas %>	
				</li>
			</ul>
		</div>
	</section>
	<div class="divider"></div>
	<section id="for_companies" class="page" style='height:359px;'>
		<h2>Para empresas</h2>
		<div class="page" style='background: url("/assets/part4-para-empresas.png") no-repeat scroll center 0  transparent; height:388px;'></div>
		<!--
		<div class="details">
			<div data-image="company-screenshots-cost" class="detail highlight">
				<h3 class="icons-invoices">Controle sobre as despesas</h3>
				<p>Informaes detalhadas sobre as corridas dos seus funcionrios incluindo trajetos, data e hora das corridas, chauffeur, placa do carro, resumo da cobrana, entre outros</p>
				<div class='icons' style='background-position: 0 0px;height:35px;'></div>
			</div>
			<div data-image="company-screenshots-vat" class="detail">
				<h3 class="icons-payment_methods">Central de custos</h3>
				<p>Ns consolidamos as corridas em um boleto mensal, facilitando sua gesto e oferecendo descontos para diferentes mtodos de pagamentos</p>
				<div class='icons' style='background-position: 0 -32px'></div>
			</div>
			<div class="clear"></div>
			<div data-image="company-screenshots-realtime" class="detail">
				<h3 class="icons-eye">Informaes em Tempo Real</h3>
				<p>Desde o painel do administrador voc ser informaes sobre as corridas em tempo real, possibilitando a visualizao dos chauffeurs e a localizao de carros.</p>
				<div class='icons' style='background-position: 0 -5px'></div>
			</div>
			<div data-image="company-screenshots-corporate" class="detail">
				<h3 class="icons-dashboard">Governana</h3>
				<p>Nossa plataforma e super fcil de usar, o que possibilita uma nica pessoa fazer a gesto de todos os usurios de sua empresa</p>
				<div class='icons' style='background-position: 0 -3px'></div>
			</div>
		</div>
		-->
	</section>
</div>
